:root {
    --ddo-label-color: 138, 40, 42;
    --ddo-label-color: 67, 106, 119;
}

$mainsense_margin: 1rem;
$subsense_margin: 2rem;

#sproget-react-search .react-active-word-presentation .word-section .word-html+.word-html,
#sproget-react-elements .react-active-word-presentation .word-section .word-html+.word-html {
    margin-top: 2rem; // TODO: margin-top for første = 1rem
}

#sproget-react-search .react-active-word-presentation .word-section .ddos.ar,
#sproget-react-elements .react-active-word-presentation .word-section .ddos.ar {
    gap: 0em;
}

#sproget-react-search .react-active-word-presentation .word-section,
#sproget-react-elements .react-active-word-presentation .word-section {

    .ar>.def>.def:before,
    .def>.idiom:before {
        display: block;
        color: #666;
        margin-bottom: 0.4rem;
        font-family: var(--font-family-heading);
    }

    .ar>.def>.def+.def :before {
        display: inherit;
        color: inherit;
        margin-bottom: inherit;
    }

    .ar>.def>.def:before {
        content: "BETYDNING";
        margin-top: 0.4rem;
    }

    .ar>.def>.def+.def:before {
        content: none;
        margin-top: inherit;
    }

    .def>.idiom:before {
        content: "FASTE UDTRYK";
        margin-top: 0.8rem;
    }
}

#sproget-react-search .react-active-word-presentation .word-section .ddos,
#sproget-react-elements .react-active-word-presentation .word-section .ddos {

    .def,
    .idiom>.idiom>.def>.def,
    .def>.idiom {
        gap: 0rem; // Overwriting peytz
        padding-left: 0; // Overwriting peytz
    }

    .def .def .dtrn {
        max-width: none; // Overwriting peytz
    }

    .head {
        margin-right: 0.5rem;
    }

    .head a {
        margin: 0; // Overwriting peytz
    }

    .def>.def {
        padding-left: 0; //!important;
        gap: 0rem;
    }

    .def {
        margin-top: 0.4rem;
    }

    .idiom>.def {
        margin-top: 0;
    }

    .m {
        display: block;
        margin-top: 0.4rem;
    }

    .head {
        display: block;
    }

    .k .opt {
        vertical-align: baseline;
        position: relative;
        top: -0.4em;
        font-size: 75%;
        vertical-align: unset; // Overwriting peytz
    }

    .pos {
        margin-right: 0.4rem;
    }

    .audio {
        margin-left: 0.2rem;
    }

    .def {
        flex-basis: 100%;
    }

    .def .info-box {
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
    }

    .def>.def .info-box {
        margin-top: 0;
        margin-left: $mainsense_margin;
        padding-left: 0;
    }

    .def>.def>.def .info-box {
        margin-left: $subsense_margin;
    }

    .info-header {
        border: 0.125rem solid rgb(var(--ddo-label-color), 0.2);
        background-color: rgba(var(--ddo-label-color), 0.1);
        padding: 0.125rem 0.5rem;
        border-radius: 0.125rem;
        display: inline-block;
        color: rgba(var(--ddo-label-color), 0.5);
        /* color: #aaa;
        display: inline;
        font-size: .7rem;
        font-weight: 700;
        margin-right: 0.5rem;
        padding: 0 0.2rem;
        text-transform: uppercase;*/
    }

    .phon {
        font-family: Arial, Helvetica, sans-serif;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .forms .k {
        color: inherit;
    }

    .forms::before {
        content: "VARIANS";
        border: 0.125rem solid rgb(var(--ddo-label-color), 0.2);
        background-color: rgb(var(--ddo-label-color), 0.1);
        padding: 0.125rem 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
        border-radius: 0.125rem;
        display: inline-block;
        color: rgb(var(--ddo-label-color), 0.5);
        font-size: .7rem;
        font-weight: 700;
    }

    span.antonym .k,
    span.related .k,
    span.synonym .k {
        color: var(--color-text-gray);
    }

    .etym .k,
    .etym .k a {
        font-style: italic;
    }

    .def .l {
        position: absolute;
        font-style: normal;
        float: left;
    }

    .def>.def>.dtrn {
        display: block;
        margin-left: $mainsense_margin;
    }

    .def>.def>.def {
        margin-left: $mainsense_margin;
    }

    .def>.def>.def .dtrn {
        display: block;
        margin-left: $subsense_margin;
    }

    .dtrn .co,
    .dtrn .k {
        font-style: italic;
        padding: 0;
    }

    .style {
        font-style: italic;
    }

    .idiom>.idiom+.idiom {
        display: block;
        margin-top: 0.4rem;
    }

    .idiom .idiom a .k {
        font-weight: bold !important;
    }

    .onyms a,
    .idiom>a {
        text-decoration: none;
    }

    .onyms a:hover,
    .idiom>a:hover {
        text-decoration: underline;
    }
}

/* LEGESTUE */
// #598AA3 as rgb
$ddoColor: rgba(89, 138, 163, 0.4);
$ddoColorLight: rgba(89, 138, 163, 0.2);

// #40745d as rgb
$roColor: 64, 116, 93;

// .ro {
//     border-left: 10px solid rgb($roColor, 0.4);
//     padding-left: 0.2rem;
// }
/*
.ar > span.def > .def {
    border-left: 10px solid $ddoColor;
    padding-left: 0.4rem!important;
}

.ar > .def > .idiom {
    border-left: 10px solid $ddoColorLight;
    padding-left: 0.4rem!important;
}
*/
